.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

.header {
  margin-top: 16px;
  margin-bottom: 16px;
}

.body {
  flex: 1;
  overflow-y: auto;
}

.footer {
  margin: 8px;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.app__title {
  font-family: "Raleway";
  font-size: 60px;
  margin: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.app__subtitle {
  font-family: "Raleway";
  font-size: small;
  color: gray;
}

.app__form {
  padding: 10px 20px;
  z-index: 1;
  background-color: #e9e9eb;
  border-radius: 32px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}

.username {
  font-size: 1.1rem;
  color: #000;
  font-family: "Roboto";
}
